<div class="section">

    <app-header></app-header>
    <div class="middleline"><p class="centerline">ಸಾಲಕ್ಕಾಗಿ ಅರ್ಜಿ ಸಲ್ಲಿಸುತ್ತಿರುವವರ ಮತ್ತು ಜಾಮೀನುದಾರರ ಮಾಹಿತಿ ಪತ್ರ</p>
    </div>

    <form >
        <div class="componentclass">
            <span>
                <div style="display: flex; justify-content: flex-start;"><p>ಇವರಿಗೆ,</p> <br></div>
               <p>ಮುಖ್ಯ ಕಾರ್ಯನಿರ್ವಾಹಕರು</p>
            </span>
            <app-place ></app-place>
        </div>
    
        <div class="componentclass" style="margin-top: 0px;">
            <p>ಆಕ್ಸ್‌ಫರ್ಡ್ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸಂಘ ನಿಯಮಿತ, ಸಿಂಧನೂರು</p>
            <app-date ></app-date>
         </div> 
    
         <div class="componentclass" >
            <P></P>
            <app-membership-number ></app-membership-number>
         </div>
         <div class="componentclass" >
            <P></P>
            <app-customer-number ></app-customer-number>
         </div>
         <div class="componentclass" >
            <P></P>
            <app-loan-account-number ></app-loan-account-number>
         </div>
         <div class="componentclass" >
            <P></P>
            <app-saving-account-number ></app-saving-account-number>
         </div>
        <div class="borrower" >
            <app-borrower-name style="flex: 1;" ></app-borrower-name>
            <app-borrower-parentname style="flex: 1;" ></app-borrower-parentname>
        </div>
         <div class="ageandoccupation">
            <app-borrower-age style="flex: 1;"></app-borrower-age>
            <app-occupation style="flex: 1;"></app-occupation>
            <app-borrower-adhar-number style="flex: 1;" ></app-borrower-adhar-number>
         </div>
    
         <div class="pan">
            <app-pancard-number style="flex: 1;"></app-pancard-number>
            <app-nominee style="flex: 1;"></app-nominee>
            <app-loan-purpose style="flex: 1;"></app-loan-purpose>
         </div>
         <div class="address">
            <app-borrower-address style="flex: 1;"></app-borrower-address>
         </div>
         <div class="officeaddress">
            <app-borrower-office-address style="flex: 1;" ></app-borrower-office-address>
         </div>
         <div class="annualdetails">
            <app-borrower-mobile-number style="flex: 1;" ></app-borrower-mobile-number>
            <app-annualincome style="flex: 1;" ></app-annualincome>
            <app-annual-expenditure style="flex: 1;" ></app-annual-expenditure>
         </div>
         <div class="amountdetails">
            <app-borrower-bloodgroup style="flex: 1;"></app-borrower-bloodgroup>
            <app-loan-amount style="flex: 1;" ></app-loan-amount>
         </div>
         <div class="amountinletters">
            <app-loan-amount-in-letters style="flex: 1;" ></app-loan-amount-in-letters>
         </div>
         <div class="interest">
            <app-interest-rate style="flex: 1;" ></app-interest-rate>
            <app-over-due-interestrate style="flex: 1;" ></app-over-due-interestrate>
         </div>
         <div class="modeofloan">
            <app-modeof-emi style="flex: 2.5;" ></app-modeof-emi>
            <app-security-for-loan style="flex: 3;" ></app-security-for-loan>
         </div>
         <div class="taxandlic">
            <app-tax-details style="flex: 1;" ></app-tax-details>
            <app-lic-details style="flex: 1;" ></app-lic-details>
         </div>
         <div class="otherbank">
            <app-otherbank-details style="flex: 1;" ></app-otherbank-details>
            <app-caste-and-religion style="flex: 1;" ></app-caste-and-religion>
         </div>
         <div class="otherloans">
            <app-other-loan-details style="flex: 1;" ></app-other-loan-details>
         </div>
         <div class="pendingloans">
            <app-pending-loans-details style="flex: 1;"></app-pending-loans-details>
         </div>
         <div class="shareamount">
            <app-share-amount style="flex: 1;" ></app-share-amount>   
         </div>
         <div class="controlledloan">
            <app-controlled-loan style="flex: 1;" ></app-controlled-loan>
         </div>
         <div class="gb">
            <app-gb style="flex: 1;" ></app-gb>
         </div>
         <div class="firstsuretyholder">
            <app-fsh-name style="flex: 1;"></app-fsh-name>
            <app-fsh-parent style="flex: 1;" ></app-fsh-parent>
         </div>
         <div class="fshadhar">
            <app-fsh-adhar style="flex: 1;" ></app-fsh-adhar>
            <app-fsh-mobile-number style="flex: 1;" ></app-fsh-mobile-number>
         </div>
         <div class="fshrelation">
            <app-fsh-relation-with-borrower style="flex: 1;"></app-fsh-relation-with-borrower>
         </div>
         <div class="fshresidentialaddress">
            <app-fsh-place style="flex: 1;" ></app-fsh-place>
            
         </div>
         <div class="fshofficeaddress">
            <app-fsh-address style="flex: 1;" ></app-fsh-address>
         </div>
         <div class="fshotherbankloan">
            <app-fsh-otherbank-details style="flex: 1;" ></app-fsh-otherbank-details>
         </div>
    
         <div class="secondsuretyholder">
            <app-ssh-name style="flex: 1;" ></app-ssh-name>
            <app-ssh-parent style="flex: 1;" ></app-ssh-parent>
         </div>
         <div class="sshadhar">
            <app-ssh-adhar style="flex: 1;" ></app-ssh-adhar>
            <app-ssh-mobile-number style="flex: 1;" ></app-ssh-mobile-number>
         </div>
         <div class="sshrelation">
            <app-ssh-relation-with-borrower style="flex: 1;" ></app-ssh-relation-with-borrower>
         </div>
         <div class="sshresidentialaddress">
            <app-ssh-place style="flex: 1;" ></app-ssh-place>
         </div>
         <div class="sshofficeaddress">
            <app-ssh-address style="flex: 1;"></app-ssh-address>
         </div>
         <div class="sshotherbankloan">
            <app-ssh-otherbank-details style="flex: 1;"></app-ssh-otherbank-details>
         </div>
         
    </form>
   
</div> 

